{% extends "base.html" %}
{% load bootstrap %}

{% block title %}ご登録{% endblock title %}

{% block content %}
    <h3 class="page-header">ご登録</h3>
    <p class="lead">入力後、登録ボタンを押してください</p>
    <form action="{% url 'ums:demouser_edit' %}" method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </div>
    </form>
{% endblock content %}