{% extends "base.html" %}
{% load bootstrap %}

{% block title %}登録内容確認{% endblock title %}

{% block content %}
    <h3 class="page-header">登録内容確認</h3>
    <p class="lead">登録内容を確認してください</p>
    <form action="{% url 'ums:demouser_commit' demouser_id=demouser_id %}" method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">修正</button>
          <a href="{% url 'ums:demouser_fin' demouser_id=demouser_id %}" class="btn btn-primary">OK</a>
        </div>
      </div>
    </form>
{% endblock content %}